---
- name: Create docker compose directory
  file:
    path: "{{ streaming_docker_compose_dir }}"
    state: directory
    mode: '0755'
    owner: '{{ navidrome_user }}'
    group: '{{ navidrome_group }}'

- name: Create navidrome directory
  file:
    path: "{{ navidrome_dir }}"
    state: directory
    mode: '0755'
    owner: '{{ navidrome_user }}'
    group: '{{ navidrome_group }}'

- name: Create Music directory
  file:
    path: "{{ music_dir }}"
    state: directory
    mode: '0755'
    owner: '{{ navidrome_user }}'
    group: '{{ navidrome_group }}'
